body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9B59B6;
    font-family: 'Poppins', sans-serif;
    flex-direction: column
}

.calenderWrapper{
    width: 90%;
    margin-block:40px;
}
.months{
    display: flex;
    justify-content: space-between;
}
.currentDate{
    font-size: 50px;

}
.icons span{
    font-size: 50px;
    cursor: pointer;
}
.calender{
    width :100%;
}
.weekDays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;

}
.weekDays li{
    border: 1px solid white;
    font-size: 25px;
    list-style: none;
}
.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,100px);
}
.days li{
    border: 1px solid white;
    list-style: none;
}